# Google Sheets Configuration
GOOGLE_SHEETS_CREDENTIALS=data/attendance-system-credentials.json
MP_DATABSE_SHEET_ID=1wx2I2nB5DwSIbfpEfhSIILFCHpfLujsSrHvpNv6MIPc
QR_ATTENDANCE_SHEET_ID=1ozd_CyxV7fVugEejI8gyCgquPKvjTie4LgxnPYEeLjA

# Application Configuration
APP_MODE=admin

# Database paths
HR_ADMIN_DB_PATH=data/hr_system.duckdb
